.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.d-block{
  width: 100vh;
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sliderH3{
  -webkit-animation: mymove 5s; /* Safari 4.0 - 8.0 */
  animation: mymove 5s;
}
@-webkit-keyframes mymove {
  from {left: 0px;top:0;transform: rotate(0deg)}
  to {left: 170px;top:80%;transform: rotate(360deg)}
}

@keyframes mymove {
  from {left: 0px;top:0;transform: rotate(0deg)}
  to {left: 170px;top:80%;transform: rotate(360deg)}
}